* {
    box-sizing: border-box;
}

.container {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    border: 1px dashed black;
}

.box1 {
    width: 300px;
    height: 100px;
    padding: 40px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: beige;
    border: 1px solid black;
    margin-bottom: 25px;
}

.box2 {
    width: 300px;
    height: 100px;
    padding: 80px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: beige;
    border: 1px solid black;
    margin-top: 25px;
}