/* large. Για οθόνες μεγαλύτερες από 992px και...*/
@media (min-width: 992px)  and (max-width: 1200px) {
    body {
        background-color: green;
    }
}

/* x-large */
@media (min-width: 1200px) and (max-width: 1400px){
    body {
        background-color: yellow;
    }
}

/* xx-large */
@media (min-width: 1400px){
    body {
        background-color: aqua;
    }
}


/* medium (992), small (760), x-small (576). Για οθόνες μικρότερες από 992px */
@media (max-width: 992px) {
    body {
        background-color: blue;
    }
}