* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    overflow: hidden;
    background-color: #762124;
}

.logo {
    float: left;
}

.logo > img {
    width: auto;
    height: 120px;
    vertical-align: middle;
}

.nav {
    float: left;
    width: 500px;
    margin-left: 30px;
}

.nav > ul {
    display: flex;
    justify-content: space-around; /*οριζοντια */
    align-items: center; /* κάθετη */
    height: 120px; /* ίδιο ύψος με εικόνα */
    list-style: none;
}

.nav a {
    display: block; /* για να αποκτησει width/height ωστε να βαλω padding */
    padding: 5px 10px; /*user-experience */
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav a:hover {
    background-color: rgb(25, 144, 59);
}

.nav a:active {
    background-color: cornflowerblue;
}

.home-img {
    overflow: hidden; /* για να διορθωθει το κενο 
    που δημ/ται και στον parent(home-img) 
    -->parent/child margin collapse */
    height: calc(97vh - 120px);
    background-image: url('../../images/tep-aueb2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /*για να πιανει το 100% του width */
    background-position: center; /*κεντραρει την εικόνα */
}

.home-title {
    width: 50%; /*50% της εικόνας*/
    color: white;
    font-size: 2.5rem;
    font-weight: 600; /* 500 normal, 900 bold*/
    text-align: center; /* για inline elemnt*/
    margin-left: auto; /* για block elemnt */
    margin-right: auto;
    margin-top: 100px; /*  overflow hidden
    στον parent. Δε γίνεται με 
    padding γιατι πιανει όλο το box, 
    αν θελαμε να το χρωματισουμε πχ) */
}

.gap-bottom {
    margin-bottom: 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* καθετη (default για το collumn) */
    align-items: center; /*οριζόντια */
}

.footer {
    display: flex;
    height: 150px;
    background-color: #762124;
    justify-content: space-between;
    align-items: center;
    color: wheat;
    padding: 0 10px;
}

.social {
    display: flex;
    align-items: center;
}

.social-text {
    color: cornflowerblue;
    font-size: 2rem;
    margin-right: 5px;

}

.social > span {
    margin-right: 10px;
}