* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* overflow: hidden; */
    display: flex;
    background-color: #363636;
    align-items: center;
    position: sticky;
    top: 0;
}

/* .logo {
    float: left;
} */

.logo > img {
    width: auto;
    height: 120px;
    vertical-align: middle;
}

.navbar {
    /* float: left; */
    width: 600px;
}

.navbar > ul {
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    list-style: none;
}

.navbar a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav a:hover {
    /* opacity: 0.8; */
    background-color: white;
    color: #363636;
}

.navbar a:active {
    background-color: #717171;
}

.dropdown {
    position: relative;
    padding: 5px 10px;
}

.dropdown-content {
    display: none;
    width: 100%;
    position: absolute;
    padding-top: 10px;
    background-color: rgb(113, 113, 113, 0.7);
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
}

.dropdown-content > li {
    width: 100%;
    /* border: 1px solid #FFF; */
}

.dropdown-content > li:last-of-type {
    border: none;
}

.dropdown-content a {
    display: block;
    padding: 5px 5px;
    width: 100%;
    color: white;
    text-decoration: none;
}

.dropdown-content a:hover {
    opacity: 0.8;
}

.dropdown > a {
    position: relative;
    z-index: 1;
}

.dropdown:hover > ul {
    display: flex;
}


.home-img {
    overflow: hidden;
    height: calc(97vh - 120px);
    background-image: url('../../images/tep-aueb2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.home-title {
    width: 60%; 
    color: white;
    font-size: 2.4rem;
    font-weight: 600; 
    text-align: center; 
    margin-left: auto;  
    margin-right: auto;
    margin-top: 300px;
}

.home-subtitle {
    width: 60%; 
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 100; 
    text-align: center; 
    margin-left: auto;  
    margin-right: auto;
    margin-top: 100px;
}

.gap-bottom {
    margin-bottom: 25px;
}

.main {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    background-color: #363636;
    color: white;
    padding: 0 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social {
    display: flex;
    align-items: center;
}

.social > span {
    margin-right: 10px;
}

.social-text {
    color: blue;
    font-size: 2rem;
    margin-right: 5px;
}