body {
    background-color: lightsteelblue;
}

.aueb-img {
    width: 200px;
    height: auto;
    /* border-width: 4px;
    border-style: dotted;
    border-color: goldenrod; */
    border: 4px dotted goldenrod;
}

.aueb-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    color: #762124;
    text-align: center;
}

.aueb-text {
    font-family: Quicksand, sans-serif;
    font-size: 1.1rem;
    color: rgb(36,34,34);
}