.container {
    /* position: relative; */
    width: 500px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    margin-bottom: 40px;
    margin-top: 30px;
    border: 1px dashed red;
}

.box1, .box2, .box3 {
    border: 1px solid black;
    padding: 60px;
}

.box1 {
    background-color: aqua;
}

.box2 {
    background-color: brown;
}

.box3 {
    background-color: greenyellow;
}

.item-relative {
    position: relative; /*σε σχέση με τον εαυτό του (το normal flow) */
    top: 40px;
    left: 70px;
}

.item-absolute {
    position: absolute; /*σε σχέση με τον parent (ΑΝ ειναι relative), και γίνεται fall back στον browser */
    top: 10px;
    left: 5px;
}

.item-fixed {
    position: fixed;
    top: 40px;
    left: 50px;
}

.z-front {
    z-index: 1; /* default 0 */
}

.item-sticky {
    position: sticky;
    top: 0;
}