* {
    margin: 0;
}

.box1 {
    width: 200px;
    height: 200px;
    background-color: brown;
    transition: transform 2s ease-in;
    transform-origin: right bottom; /*σημείο που ξεκιναει το transform*/
}

.box1:hover {
    /* becomes x3 bigger */
    /* transform: scale(3); */

    /* transform: rotate(180deg); */

    /*αφορά το movement: δεξια/αρισ, πάνω-κατω */
    /* transform: translate(0, 120px); */

    /* στρέβλωση: γέρνει το σχήμα, σαν τα italics */
    /* transform: skewX(-20deg); */

    /* Combination of transforms */
    transform: scale(3) rotate(180deg) translate(0, 120px)
        skewX(-90deg);
}